body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#exportdiv {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #eee;
}
div.chart{
  width: 100%;
  height: 45vh;
  max-width:100%;
  display: block}

.chart-container{
  height: 90vh;
}
